.c-book-info {
  margin: 2%;
}

.c-book-info__container {
  margin: 2% 0;
  text-align: center;
}

@media(min-width: 401px) {
  .c-book-info__container {
    display: flex;
    text-align: left;
  }
}

.c-book-info__info {
  padding-left: 4%;
  max-width: 800px;
}

.c-book-info__title {
  font-weight: normal;
  margin-top: 0;
}
