body {
  margin: 0;
  padding: 0;
  background: #f6f6f1;
  color: #3b3b3b;
  font-size: 16px;
  font-weight: normal;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.4;
}

.l-wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 16px;
}
