.c-book {
  width: 40%;
  padding: 2%;
  cursor: pointer;
}

@media(min-width: 600px) and (max-width: 800px){
  .c-book {
    width: 25%;
  }
}

@media(min-width: 800px){
  .c-book {
    width: 15%;
  }
}


.c-book img {
  transition: transform .2s ease-in-out;
}
.c-book:hover img, .c-book:focus img {
  transition: transform .2s ease-in-out;
  transform: scale(1.1);
}

.c-book__title:after {
  transition: opacity .2s ease-in-out;
  background-color: black;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 4px;
  content: '';
  left: 0;
  right: 0;
  bottom: -10px;
}

.c-book:hover .c-book__title:after, .c-book:focus .c-book__title:after {
  transition: opacity .2s ease-in-out;
  opacity: 1;
}

.c-book__title {
  font-weight: normal;
  font-size: inherit;
  position: relative;
}